._result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > img {
    border-radius: $radius;
  }

  > p {
    font-size: 2rem;
    text-align: center;
    @extend .playfair-font;
  }
}