.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > img {
    border-radius: $radius;
  }

  > p {
    font-size: 2rem;
    text-align: center;

    > span {
      display: block;
    }

    > small {
      font-weight: lighter;
    }
  }

  > button {
    border: 0;
    padding: .8rem 1.3rem;
    background: $primary-color;
    border-radius: $radius;
    cursor: pointer;
    color: #fff;
    font-size: 1.3rem;
    transition: all 250ms;

    &:hover {
      background: darken($primary-color, 9);
    }
  }
}